.playlistContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 0;
  .playlistItem {
    display: flex;
    align-items: center;
    height: 72px;
    border-radius: 4px;
    cursor: pointer;
    &:hover,
    &.active {
      background: rgba(255, 255, 255, 0.12);
    }
    &.active {
      border-left: 2px solid #006efa;
    }
    .playlistItemIndex {
      flex-shrink: 0;
      display: flex;
      width: 21px;
      height: inherit;
      font-size: 12px;
      line-height: 18px;
      color: #ffffff;
      justify-content: flex-end;
      align-items: center;
    }
    .playlistItemThumbnailWrapper {
      flex-shrink: 0;
      margin: 0 8px;
      border-radius: 4px;
      width: 99px;
      height: 56px;
      background-size: contain;
    }
    .playlistItemMetadata {
      flex-grow: 1;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
    }
  }
}
