@import '../../theme.scss';

.playlistWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  &.vertical {
    padding: 16px;
    .playlistContent {
      flex-direction: column;
      overflow: hidden auto;
    }
  }
  &.horizontal {
    padding: 8px 16px 16px 16px;
    .playlistContent {
      flex-direction: row;
      overflow: auto hidden;
    }
  }

  .playlistContent {
    display: flex;
    width: 100%;
    @include playlist-scrollbar();
    &.scrolling::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
  }

  // TODO: remove once player fix the font
  * {
    font-family: sans-serif;
    font-style: normal;
  }
}
:global(.playkit-player.has-live-plugin-overlay .playkit-side-panel) {
  z-index: 6;
}
