$theme-colors: (
  'primary': #ffffff,
  'secondary': #cccccc,
  'gray': #444444,
  'active': #006efa
);

@mixin playlist-scrollbar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(33, 33, 33, 0.9);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
